<footer>
    <ul class="social-icons">
        <li><a href="#" target="_blank"><img src="https://louisville.edu/mcconnellcenter/images/facebook_logos_PNG19748.png/image" alt="Facebook"></a></li>
        <li><a href="#" target="_blank"><img src="https://img.freepik.com/premium-vector/x-new-social-network-black-app-icon-twitter-rebranded-as-x-twitter-s-logo-was-changed_277909-568.jpg" alt="Twitter"></a></li>
        <li><a href="#" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Instagram-Icon.png/768px-Instagram-Icon.png" alt="Instagram"></a></li>
    </ul>
    <p class="phone-number">Phone: +1 (123) 456-7890</p>
    <p>&copy; 2023 Cinema Movies. All rights reserved.</p>
</footer>
